<nav class="navbar-container">
    <!-- <fmt:bundle basename="message"> -->
        <a href="index.jsp"><img class="logo" th:src="@{/image/logo.svg}" /></a>
    
        <!-- <c:choose>
            <c:when test="${sessionScope.usuarioLogado != null}">
                <div class="right-side">
                    <a href="${pageContext.request.contextPath}/perfil" class="botao-logado">
                        <img src="assets/icons/person-circle.svg"/> ${sessionScope.usuarioLogado.nome}
                    </a>
                    <a href="${pageContext.request.contextPath}/logout" class="botao-logado">
                        <img src="assets/icons/exit.svg"/> <fmt:message key="nav.sair"/>
                    </a>
                </div>
            </c:when>
            <c:otherwise> -->
                <div class="right-side">
                    <a href="/login" class="botao-login">
                        Login
                    </a>
                    <a href="/cadastro" class="botao-cadastro">
                        Cadastro
                    </a>
                </div>
            <!-- </c:otherwise>
        </c:choose> -->
    <!-- </fmt:bundle> -->
    </nav>