<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{addPacote.title}">| Excellent Voyage</title>
    <link rel="stylesheet" th:href="@{/styles/global.css}" />
    <link rel="stylesheet" th:href="@{/styles/cadastro-cliente.css}" />
</head>
<body>
    <div class="cadastro-cliente-container box">
        <a class="botao-voltar" href="javascript:history.go(-1)"><img th:src="@{/image/icons/arrow-left.svg}" /><p th:text="#{cadastro.voltar}"><p></a>

        <form class="form-cadastro-cliente" th:action="@{/pacote/salvar}" method="POST" th:object="${pacoteTuristico}" enctype="multipart/form-data">
            <h1 th:text="#{addPacote.title}"></h1>
            <div class="campos">
                <div class="campo-container">
                    <label for="destinoCidade" th:text="#{pacote.cidade}"></label>
                    <input class="campo" id="destinoCidade" name="destinoCidade" type="text" th:field="*{destinoCidade}"/>

                    <div class="field-erro">
                        <span th:errors="*{destinoCidade}"></span>
                    </div>
                </div>
                <div class="campo-container">
                    <label for="destinoEstado" th:text="#{pacote.estado}"></label>
                    <input class="campo" id="destinoEstado" name="destinoEstado" type="text" />

                    <div class="field-erro">
                        <span th:errors="*{destinoEstado}"></span>
                    </div>
                </div>
                <div class="campo-container">
                    <label for="destinoPais" th:text="#{pacote.pais}"></label>
                    <input class="campo" id="destinoPais" name="destinoPais" type="text" />

                    <div class="field-erro">
                        <span th:errors="*{destinoPais}"></span>
                    </div>
                </div>
                <div class="campo-container">
                    <label for="data-partida" th:text="#{pacote.dataPartida}"></label>
                    <input class="campo" id="dataPartida" name="dataPartida" type="date" />

                    <div class="field-erro">
                        <span th:errors="*{dataPartida}"></span>
                    </div>
                </div>
                <div class="campo-container">
                    <label for="valor" th:text="#{pacote.valor}"></label>
                    <input class="campo" id="valor" name="valor" type="valor" />

                    <div class="field-erro">
                        <span th:errors="*{valor}"></span>
                    </div>
                </div>
                <div class="campo-container">
                    <label for="duracaoDias" th:text="#{pacote.duracao}"></label>
                    <input class="campo" id="duracaoDias" name="duracaoDias" type="number" />

                    <div class="field-erro">
                        <span th:errors="*{duracaoDias}"></span>
                    </div>
                </div>
                <div class="campo-container">
                    <label for="descricaoFile" th:text="#{pacote.descricao}"></label>
                    <input type="file" id="descricaoFile" name="descricaoFile" />

                    <div class="field-erro">
                        <span th:text="${descricaoFile}"></span>
                    </div>
                </div>
                <div class="campo-container">
                    <label for="fotosFile" th:text="#{addPacote.fotos}"></label>
                    <input type="file" id="fotosFile" name="fotosFile" multiple />

                    <div class="field-erro">
                        <span th:text="${fotosFile}"></span>
                    </div>
                </div>
                <!-- <input type="number" id="qtdFotos" name="qtdFotos" multiple hidden /> -->
            </div>
            <input class="submit" type="submit" name="bOK" th:value="#{addPacote.botao}" />
        </form>
    </div>
</body>
</html>
